@{
    ViewBag.Title = "purchase";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Titillium+Web:wght@400;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/BIBTour/Pages/Purchase.css" />
    <link rel="stylesheet" href="~/BIBTour/Style.css" />
    <title>BIBTour | Purchase</title>
</head>

<body>
    <header>


        <nav class="navbar">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <img src="~/BIBTour/Assets/Logo.png" alt="" />
            </a>

            <div class="hamburger-menu" id="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>


            <ul class="navbar-list">
                <li><a class="active" href="@Url.Action("Index", "Home")">Homepage</a></li>
                <li>
                    <a href="#">Hotel <i class="fas fa-chevron-down" style="font-size: 20px; color: rgb(0, 0, 0)"></i></a>

                    <ul class="submenu">
                        <li><a href="@Url.Action("CampaignHotels", "Home")">Campaign Hotels</a></li>
                        <li><a href="@Url.Action("HoneymoonHotels", "Home")">Honeymoon Hotels</a></li>
                        <li><a href="@Url.Action("WinterHotels", "Home")">Winter Hotels</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">Tour <i class="fas fa-chevron-down" style="font-size: 20px; color: rgb(0, 0, 0)"></i></a>
                    <ul class="submenu">
                        <li><a href="@Url.Action("CruiseTours", "Home")">Cruise Tours</a></li>
                        <li><a href="@Url.Action("CultureTours", "Home")">Culture Tours</a></li>
                        <li>
                            <a href="@Url.Action("FlavorTours", "Home")">Flavor Tours</a>
                        </li>
                    </ul>
                </li>

                <li><a href="@Url.Action("FaqPage", "Home")">F.A.Q.</a></li>
                <li><a href="@Url.Action("AboutUs", "Home")">About Us</a></li>
                <li><a href="@Url.Action("ContactUs", "Home")">Contact</a></li>


            </ul>
        </nav>
    </header>
    <h1 style="
        z-index: 5;
        margin-top: 15%;
        color: aliceblue;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 55px;
      ">
        Purchase
    </h1>

    <script>
        $(function () {
            $("#start-date").datepicker();
            $("#end-date").datepicker();
        });


        document.addEventListener("DOMContentLoaded", function () {
            const hamburgerMenu = document.getElementById("hamburger-menu");
            const navbarList = document.querySelector(".navbar-list");

            hamburgerMenu.addEventListener("click", function () {
                navbarList.classList.toggle("show");
            });
        });



        function validateForm() {
            var cardNumber = document.getElementById("cardNumber").value;
            var expirationDate = document.getElementById("expirationDate").value;
            var cvv = document.getElementById("cvv").value;

            if ((cardNumber !== "") & (expirationDate !== "") & (cvv !== "")) {
                window.location.href = "successfull.html";
            } else {
                alert("Please fill in all fields before proceeding.");
            }
        }





        var navLinks = document.getElementById("navLinks");
        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-200";
        }
    </script>



    <script>
        document.addEventListener("scroll", function () {
            var scrollPercentage =
                (document.documentElement.scrollTop + document.body.scrollTop) /
                (document.documentElement.scrollHeight -
                    document.documentElement.clientHeight);

            document.documentElement.style.setProperty(
                "--scroll",
                scrollPercentage
            );
        });
    </script>

    <form id="paymentForm">
        <label for="cvv">Name Surname:</label>
        <input type="text" id="nameSurname" name="cvv" required /><br /><br />


        <div class="datepicker-container">
            <label for="start-date">Select Start Date:</label>
            <input type="text" id="start-date" readonly />
            <label for="end-date">Select End Date:</label>
            <input type="text" id="end-date" readonly />
        </div>
        <label for="cardNumber">Card Number:</label>
        <input type="text"
               id="cardNumber"
               name="cardNumber"
               required /><br /><br />


        <label for="expirationDate">Expiration Date:</label>
        <select id="expirationMonth" name="expirationMonth" required>
            <option value="" disabled selected>Month</option>
        </select>
        <select id="expirationYear" name="expirationYear" required> </select>

        <br />
        <br />

        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv" required />
        <br />
        <br />
        <script>
            // Dynamically generate months
            var expirationMonthSelect = document.getElementById("expirationMonth");
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

            for (var i = 0; i < months.length; i++) {
                var option = document.createElement("option");
                option.value = (i + 1).toString().padStart(2, '0'); // Add leading zero for single-digit months
                option.text = months[i];
                expirationMonthSelect.add(option);
            }
            // Dynamically generate years
            var currentYear = new Date().getFullYear();
            var expirationYearSelect = document.getElementById("expirationYear");

            for (var i = currentYear; i <= currentYear + 10; i++) {
                var option = document.createElement("option");
                option.value = i;
                option.text = i;
                expirationYearSelect.add(option);
            }
        </script>
        <input type="button" value="Pay" onclick="return validateFormPurchase()" />

        <script>
            function validateFormPurchase() {
                var nameSurname = document.getElementById("nameSurname").value;
                var cvv = document.getElementById("cvv").value;
                var start_date = document.getElementById("start-date").value;
                var end_date = document.getElementById("end-date").value;
                var expirationMonth = document.getElementById("expirationMonth").value;
                var expirationYear = document.getElementById("expirationYear").value;

                if (nameSurname === "" || cvv === "" || start_date === "" || end_date === "" || expirationMonth === "" || expirationYear === "") {
                    alert("Please fill in all the required fields.");
                    return false;
                } else if (cvv.length < 3) {
                    alert("Please enter the last 3 digits of the cvv value!");
                    return false;
                } else {
                    // Assuming you want to submit the form only if everything is valid
                    document.getElementById("paymentForm").submit();
                    return true;
                }
            }
        </script>


    </form>


    <footer>
        <div class="links">
            <div class="footer-container footer-container1">
                <h4>EXPLORE</h4>
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CampaignHotels", "Home")">Campaign Hotels</a>
                    </li>
                    <li>
                        <a href="@Url.Action("HoneymoonHotels", "Home")">Honeymoon Hotels</a>
                    </li>
                    <li>
                        <a href="@Url.Action("WinterHotels", "Home")">Winter Hotels</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CruiseTours", "Home")">Cruise Tours</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CultureTours", "Home")">Culture Tours</a>
                    </li>
                    <li>
                        <a href="@Url.Action("FlavorTours", "Home")">Flavor Tours</a>
                    </li>
                </ul>
            </div>
            <div class="footer-container footer-container2">
                <h4>INSTITIONAL</h4>
                <ul>
                    <li><a href="@Url.Action("AboutUs", "Home")">About Us</a></li>
                    <li>
                        <a href="@Url.Action("ContactUs", "Home")">Contact</a>
                    </li>
                    <li><a href="@Url.Action("FaqPage", "Home")">F.A.Q</a></li>
                </ul>
            </div>
            <div class="footer-container footer-container3">
                <h4>PRIVACY POLICY</h4>
                <ul>
                    <li><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="social-media">
            <div class="social-icons">
                <a href="#" class="icon" target="_blank">
                    <img src="~/BIBTour/Assets/instagram.png"
                         width="50px"
                         height="50px"
                         alt="instagramLogo" />
                </a>
                <a href="https://wa.me/1234567890"
                   class="icon whatsapp"
                   target="_blank">
                    <img src="~/BIBTour/Assets/Whatsapp.png" alt="" />
                </a>
                <a href="#" class="icon close">
                    <img src="~/BIBTour/Assets/X.png" alt="" />
                </a>
            </div>
            <div class="slogan">
                <h2>"Discover, Live, Remember: The Journey Begins with BIB Tour!"</h2>
            </div>
        </div>
    </footer>
</body>
</html>
