@model BibTour.Models.LoginDTO
@{
    ViewBag.Title = "Register";

}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/BIBTour/Pages/login.css" />
    <link rel="stylesheet" href="~/BIBTour/Style.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <title>BIBtour | Log in</title>
</head>

<body>
    <script>
        document.addEventListener("scroll", function () {
            var scrollPercentage =
                (document.documentElement.scrollTop + document.body.scrollTop) /
                (document.documentElement.scrollHeight -
                    document.documentElement.clientHeight);

            document.documentElement.style.setProperty(
                "--scroll",
                scrollPercentage
            );
        });
    </script>
    <header>
        @section script{
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const hamburgerMenu = document.getElementById("hamburger-menu");
                    const navbarList = document.querySelector(".navbar-list");

                    hamburgerMenu.addEventListener("click", function () {
                        navbarList.classList.toggle("show");
                    });
                });
            </script>

        }


        <nav class="navbar">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <img src="../BIBTour/Assets/Logo.png" alt="" />
            </a>

            <div class="hamburger-menu" id="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>


            <ul class="navbar-list">
                <li><a class="active" href="@Url.Action("Index", "Home")">Homepage</a></li>
                <li>
                    <a href="#">Hotel <i class="fas fa-chevron-down" style="font-size: 20px; color: rgb(0, 0, 0)"></i></a>

                    <ul class="submenu">
                        <li><a href="@Url.Action("CampaignHotels", "Home")">Campaign Hotels</a></li>
                        <li><a href="@Url.Action("HoneymoonHotels", "Home")">Honeymoon Hotels</a></li>
                        <li><a href="@Url.Action("WinterHotels", "Home")">Winter Hotels</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">Tour <i class="fas fa-chevron-down" style="font-size: 20px; color: rgb(0, 0, 0)"></i></a>
                    <ul class="submenu">
                        <li><a href="@Url.Action("CruiseTours", "Home")">Cruise Tours</a></li>
                        <li><a href="@Url.Action("CultureTours", "Home")">Culture Tours</a></li>
                        <li>
                            <a href="@Url.Action("FlavorTours", "Home")">Flavor Tours</a>
                        </li>
                    </ul>
                </li>

                <li><a href="../BIBTour/Pages/faqpage.html">F.A.Q.</a></li>
                <li><a href="../BIBTour/Pages/aboutUsPage.html">About Us</a></li>
                <li><a href="../BIBTour/Pages/contactUs.html">Contact</a></li>


            </ul>
        </nav>
    </header>

    <div class="container" id="container">


        <div class="form-container sign-in">
            @using (Html.BeginForm("Register", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <h1>Sign Up</h1>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password)
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword)
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <button type="submit" onclick=" return validateForm()">Sign Up</button>

                <button type="submit">Are you already member? Log in</button>
            }
        </div>
        <script>
            function validateForm() {
                var name = document.getElementById("Name").value;
                var email = document.getElementById("Email").value;
                var password = document.getElementById("Password").value;
                var confirmPassword = document.getElementById("ConfirmPassword").value;

                if (name === "" || email === "" || password === "" || confirmPassword === "") {
                    alert("Please fill in all the required fields.");
                    return false;

                }
                else if (password != confirmPassword) {
                    alert("The passwords you enter must be the same");
                    return false;
                }
                else {
                    document.getElementById("signupForm").submit();
                    return true;
                }
            }
        </script>
        <div class="toggle-container">

        </div>
    </div>
    </div>

    <script src="~/BIBTour/Pages/login.js"></script>
    <footer>
        <div class="links">
            <div class="footer-container footer-container1">
                <h4>EXPLORE</h4>
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CampaignHotels", "Home")">Campaign Hotels</a>
                    </li>
                    <li>
                        <a href="@Url.Action("HoneymoonHotels", "Home")">Honeymoon Hotels</a>
                    </li>
                    <li>
                        <a href="@Url.Action("WinterHotels", "Home")">Winter Hotels</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CruiseTours", "Home")">Cruise Tours</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CultureTours", "Home")">Culture Tours</a>
                    </li>
                    <li>
                        <a href="@Url.Action("FlavorTours", "Home")">Flavor Tours</a>
                    </li>
                </ul>
            </div>
            <div class="footer-container footer-container2">
                <h4>INSTITIONAL</h4>
                <ul>
                    <li><a href="../Pages/aboutUsPage.html">About Us</a></li>
                    <li>
                        <a href="../Pages/contactUs.html">Contact</a>
                    </li>
                    <li><a href="">F.A.Q</a></li>
                </ul>
            </div>
            <div class="footer-container footer-container3">
                <h4>PRIVACY POLICY</h4>
                <ul>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="social-media">
            <div class="social-icons">
                <a href="#" class="icon" target="_blank">
                    <img src="~/BIBTour/Assets/instagram.png"
                         width="50px"
                         height="50px"
                         alt="instagramLogo" />
                </a>
                <a href="https://wa.me/1234567890"
                   class="icon whatsapp"
                   target="_blank">
                    <img src="~/BIBTour/Assets/Whatsapp.png" alt="" />
                </a>
                <a href="#" class="icon close">
                    <img src="~/BIBTour/Assets/X.png" alt="" />
                </a>
            </div>
            <div class="slogan">
                <h2>"Discover, Live, Remember: The Journey Begins with BIB Tour!"</h2>
            </div>
        </div>
    </footer>
</body>
</html>